{% extends './base.html' %}
{% block content %}

<p>Howdy!</p>
<!--after I practice, I'll add something like the last purchase date here-->
<!--I can start with a random, or the first, ingredient-->
<a href="{% url 'ingredientslist' %}"><button class="btn">Ingredients</button></a>
<a href="{% url 'menulist' %}"><button class="btn">Menu</button></a>
<a href="{% url 'recipelist' %}"><button class="btn">Recipes</button></a>
<a href="{% url 'purchaselist' %}"><button class="btn">Purchases</button></a>
<a href="{% url 'profitandloss' %}"><button class="btn">P&L</button></a>

<p>Experiments</p>
<a href="{% url 'classedprofitandloss' %}"><button class="btn">Classed P&L</button></a>
<a href="{% url 'timedstringslist' %}"><button class="btn">Timed Strings</button></a>

<p>Logout here</p>
<a href="{% url 'logout' %}"><button class="btn">Logout</button></a>

{% endblock %}